<!--    <div class="card text-center">
            <div class="card-body" style="z-index: 1100">
                
                <div mat-dialog-content>
                    
                </div>
                <div mat-dialog-actions>
                    <img src="../../../assets/img/advertencia.png" alt="" style="width: 70%; height: 70%;" >
                    <br><br>
                    <button class="btn btn-primary btn-block mb-4" mat-button mat-dialog-close >Aceptar</button>
                </div>
            </div>
        </div>
     -->

<div class="indexz">
    <div class="modal-standar" style="width: 100%; height: 100%;">
        <div class="row m-0 modal-header">
            <mat-icon class="modal-icon"
                [ngClass]="{'success': status == 'success', 'error': status == 'error', 'warning': status == 'warning'}">
                {{icon}}
    
            </mat-icon>
            <label class="modal-title">¡{{labelTitile}}!</label>
        </div>
        <div class="row m-0 modal-content" style="bottom: 0;">
            <div class="row m-0 mt-auto mb-auto">
                <h2 class="subtitle">¡Datos no encontrados!</h2>
                <br><br>
                <h5 class="feedback-modal-title w-100" style="font-size: 20px; color: red;">{{textDescription}}</h5>
            </div>
        </div>
    </div>

</div>
