/*******************************************************
  * Author: Johan McGregor
  * Creation date: 19/06/2022
  * Description:  Definition of colors
*******************************************************/

$primary-blue: #009FE3;
$light-blue: #62d0ff;
$dark-blue: #0071b1;

/*Star number 01*/

$primary-pink: #e73571;
$light-pink: #ff6e9f;
$dark-pink: #af0046;
$white: #FFFFFF;

/*end number 01*/

$light-gray: #8B8B8B;
$color-gray-soft: #5A5A5A;
$light-gray-softer: #DADADA;

$blue-title: #001B36;