@use "variable";

.mat-button.mat-primary,
.mat-icon-button.mat-primary,
.mat-stroked-button.mat-primary {
    color: variable.$generalColor;
}

.basic-button {
    display: flex;
    justify-content: center;
    flex-direction: row;
    border: none;
    height: 2.6rem;
    border-radius: 0.6rem;
    color: variable.$white;
    font-family: variable.$opensans-semibold;
    font-size: 0.9rem;
    width: 100%;
    // min-width: 8.5rem !important;
    align-items: center;

    &:disabled {
        border-color: rgba(0, 0, 0, 0.26) !important;
        background-color: rgba(0, 0, 0, 0.12) !important;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.12);
    }
}

.mat-button.mat-button-disabled,
.mat-icon-button.mat-button-disabled,
.mat-stroked-button.mat-button-disabled,
.mat-flat-button.mat-button-disabled {
    cursor: not-allowed !important;
}

.green-filled-button {
    @extend .basic-button;
    background-color: variable.$greenDarkColor;

    &:hover {
        background-color: variable.$greenHover;
    }
}

.blue-filled-button {
    @extend .basic-button;
    background-color: variable.$generalColor;

    &:hover {
        background-color: variable.$generalColorHover;
    }
}

.red-filled-button {
    @extend .basic-button;
    background-color: variable.$red100;
    border-width: 2px;

    &:hover {
        background-color: variable.$redHover;
    }
}

.green-outlined-button {
    @extend .basic-button;
    border-color: variable.$greenDarkColor  !important;
    background-color: variable.$white;
    color: variable.$greenDarkColor;
    border-width: 2px !important;

    &:hover {
        background-color: variable.$greenDarkColor;
        color: variable.$white;
    }
}

.blue-outlined-button {
    @extend .basic-button;
    border-color: variable.$generalColor  !important;
    background-color: variable.$white;
    color: variable.$generalColor;
    border-width: 2px !important;

    &:hover {
        background-color: variable.$generalColor;
        color: variable.$white;
    }
}

.red-outlined-button {
    @extend .basic-button;
    border-color: variable.$red100  !important;
    background-color: variable.$white;
    color: variable.$red100;
    border-width: 2px !important;

    &:hover {
        background-color: variable.$red100;
        color: variable.$white;
    }
}

.circular-round-button {
    border-radius: 50% !important;
    transition: all 0.5s ease !important;
    width: 2rem;
    min-width: 2rem !important;
    margin-left: 0.35rem !important;
    margin-right: 0.35rem !important;

    .label {
        visibility: hidden;
        display: none;
        opacity: 0;
        transition: all 0.5s ease-in-out !important;
    }

    //   &:hover {
    //     width: 45%;
    //     border-radius: 50px !important;
    //     padding-left: 0.5rem;
    //     padding-right: 0.5rem;

    //     .label {
    //       visibility: visible;
    //       opacity: 1;
    //       display: inline-block;
    //       margin-left: 0.3rem;
    //     }
    //   }
}

.extend-button-animated {
    &:hover {
        width: 45%;
        border-radius: 50px !important;
        padding-left: 0.5rem;
        padding-right: 0.5rem;

        .label {
            visibility: visible;
            opacity: 1;
            display: inline-block;
            margin-left: 0.3rem;
        }
    }
}

.blue-round-button {
    background-color: variable.$generalColor  !important;
    @extend .circular-round-button;
}

.button-circle-red {
    background-color: variable.$red100  !important;
    @extend .circular-round-button;
}

.button-circle-green {
    background-color: variable.$greenDarkColor  !important;
    @extend .circular-round-button;
}